<a href="https://colab.research.google.com/github/davidriveraarbelaez/Bases_de_Datos_II/blob/main/preparacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Cargar el dataset
import pandas as pd
df = pd.read_csv('/content/movie_metadata.csv')
#df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     5043 non-null   object
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

In [6]:
df['budget'].head(10)

0    237000000.0$
1    300000000.0$
2    245000000.0$
3    250000000.0$
4            0.0$
5    263700000.0$
6    258000000.0$
7    260000000.0$
8    250000000.0$
9    250000000.0$
Name: budget, dtype: object

In [7]:
print(df.columns)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [8]:
df.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                         0
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [11]:
duplicados = df.duplicated().sum()
print(duplicados)

45

In [ ]:
duplicados_despues

In [13]:
df_clean = df.drop_duplicates()
duplicados_despues = df_clean.duplicated().sum()
print(f"Duplicados antes: {duplicados}, Duplicados después: {duplicados_despues} " )

Duplicados antes: 45, Duplicados después: 0

In [14]:
print(duplicados)

45

In [16]:
print(df_clean)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
5038                   637.0          NaN                     Comedy|Drama
5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
5040                     0.0          NaN            Drama|Horror|Thriller
5041                   946.0      10443.0             Comedy|Drama|Romance
5042                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating  \
0     ...               3054.0  English      USA           PG-13
1     ...               1238.0  English      USA           PG-13
2     ...                994.0  English       UK           PG-13
3     ...               2701.0  English      USA           PG-13
4     ...                  NaN      NaN      NaN             NaN
...   ...                  ...      ...      ...             ...
5038  ...                  6.0  English   Canada             NaN
5039  ...                359.0  English      USA           TV-14
5040  ...                  3.0  English      USA             NaN
5041  ...                  9.0  English      USA           PG-13
5042  ...                 84.0  English      USA              PG

            budget  title_year actor_2_facebook_likes imdb_score  \
0     237000000.0$      2009.0                  936.0        7.9
1     300000000.0$      2007.0                 5000.0        7.1
2     245000000.0$      2015.0                  393.0        6.8
3     250000000.0$      2012.0                23000.0        8.5
4             0.0$         NaN                   12.0        7.1
...            ...         ...                    ...        ...
5038          0.0$      2013.0                  470.0        7.7
5039          0.0$         NaN                  593.0        7.5
5040       1400.0$      2013.0                    0.0        6.3
5041          0.0$      2012.0                  719.0        6.3
5042       1100.0$      2004.0                   23.0        6.6

      aspect_ratio movie_facebook_likes
0             1.78                33000
1             2.35                    0
2             2.35                85000
3             2.35               164000
4              NaN                    0
...            ...                  ...
5038           NaN                   84
5039         16.00                32000
5040           NaN                   16
5041          2.35                  660
5042          1.85                  456

[4998 rows x 28 columns]

In [ ]:
df_clean = df_clean.dropna()
print(df_clean)